<div class="container body-content">

	<h2>{{ctrl.album.title}}</h2>

	<p>
		<img alt="{{ctrl.album.title}}" src="/images/placeholder.png">
	</p>

	<div id="album-details">
		<p ng-if="ctrl.album.genre">
			<em>Genre:</em> {{ctrl.album.genre}}
		</p>
		<p>
			<em>Artist:</em> {{ctrl.album.artist}}
		</p>
		<p>
			<em>Price:</em>
			<label>{{ctrl.album.price | currency}}</label>
		</p>
		<p>
			Track list:
			<p ng-repeat="track in ctrl.album.tracks">{{$index + 1}}. {{track}}</p>
		</p>
		<p>
			<button ng-click="ctrl.addToCart()" class="btn btn-primary">Add to cart</button>
		</p>
	</div>
</div>